# ----------------------------------
# Site Information
# ----------------------------------

title: VSP.ink
description: >- # this means to ignore newlines until "baseurl:"
  This site is a place for Jacob Campbell to experement and use to share
  various things.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  campjacob

# ----------------------------------
# Build Settings
# ----------------------------------

plugins:
  - jekyll-feed

# ----------------------------------
# Conversion
# ----------------------------------

markdown: kramdown

# ----------------------------------
# Collections
# ----------------------------------

collections:
  daily:
    output: true
    permalink: /:collection/:name
  weekly:
    output: true
    permalink: /:collection/:name
  embed:
    output: true
    permalink: /:collection/:name
  podcasts:
    output: true
    permalink: /:collection/:path/

# ----------------------------------
# Defaults
# ----------------------------------

defaults:
  - scope:
      path: ""
      type: daily
    values:
      layout: "single-daily"
  - scope:
      path: ""
      type: weekly
    values:
      layout: "single-weekly"
  - scope:
      path: ""
      type: embed
    values:
      layout: "embed"
  - scope:
      path: ""
      type: podcasts
    values:
      layout: reading-support


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Reading Files
include:
  - _pages
