{%- assign page_title = page.title | default: site.title | replace: '|', '&#124;' -%}
{%- assign seo_title = page_title | append: " " | append: title_separator | append: " " | append: site.title | replace: '|', '&#124;' -%}

{%- assign page_title = page_title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- assign seo_title  = seo_title  | markdownify | strip_html | strip_newlines | escape_once -%}

{%- assign canonical_url = page.canonical_url | default: page.url | replace: "/index.html", "/" | absolute_url %}

{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
  {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
{%- endif -%}

{%- assign page_large_image = page.header.og_image | default: page.header.overlay_image | default: page.header.image | absolute_url | escape -%}
{%- assign page_teaser_image = page.header.teaser | default: page.header.teaser | absolute_url | escape -%}
{%- assign site_og_image = site.og_image | absolute_url | escape -%}

{%- if page.date -%}
  {%- assign og_type = "article" -%}
{%- else -%}
  {%- assign og_type = "website" -%}
{%- endif -%}

  <!-- Charset and Viewport -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1{% if page.layout == 'single_embed_slide' %}, shrink-to-fit=no{% endif %}">

  <!-- Title and Description -->
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ seo_description }}">
  <meta name="author" content="Jacob Campbell">
  <meta name="fediverse:creator" content="@Jacob@social.vsp.ink">
  <link rel="canonical" href="{{ canonical_url }}">
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
{% if og_type == "article" %}
  <meta property="article:author" content="Jacob Campbell">
  {% if page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
  {% endif %}
{% endif %}
  {% if og_type == "article" and page.last_modified_at %}<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
  {% if paginator.previous_page %}<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">{% endif %}
  {% if paginator.next_page %}<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">{% endif %}

  <!-- Open Graph Meta Tags -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title }}">
  {% if seo_description %}<meta property="og:description" content="{{ seo_description }}">{% endif %}
{% if page_teaser_image %}
  <meta property="og:image" content="{{ page_teaser_image }}">
{% elsif page_large_image %}
  <meta property="og:image" content="{{ page_large_image }}">
{% endif %}
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:type" content="{{ og_type }}">

  <!-- Twitter Card Tags -->
  <meta name="twitter:creator" content="@campjacob">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
{% if page_large_image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ page_large_image }}">
{% else %}
  <meta name="twitter:card" content="summary">
  {% if page_teaser_image %}<meta name="twitter:image" content="{{ page_teaser_image }}">{% endif %}
{% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/src/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/src/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/src/favicon-16x16.png">
  <link rel="manifest" href="/assets/src/site.webmanifest">

<!-- Stylesheets and Scripts -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="/assets/js/bootstrap-auto-dark-mode.js"></script>
{% if page.layout == 'single_embed_slide' %}
  <link rel="stylesheet" href="/assets/css/tiny-slider.css">

{% include embed_slides_custom_style.htm %}

{% endif %}