---
---

// I need to fix this. Since going to the CDN the color doesn't work.



//:root {
//  --bs-primary: #fd7e14; /* Main Orange */
//  --bs-primary-rgb: 253, 126, 20; /* RGB equivalent of #fd7e14 */
//  --bs-primary-hover: #e66900; /* Darker orange for hover */
//  --bs-primary-focus: #cc5800; /* Even darker orange for focus */
//  --bs-primary-border: #fd7e14; /* Border color */
//}

// :root {
//   --bs-link-color-rgb: 253,126,20;
//   --bs-primary-rgb: 253,126,20;
//   }
//:root {
//  --bs-primary: #fd7e14; /* Custom primary color */
//  --bs-link-color: #fd7e14; /* Custom link color */
//}


// Import FontAwesome icons


// Custom styles
.orange { 
  color: #fd7e14; 
}


// Customize the accordion active background color
.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: #fd7e14; // Orange for light mode
}


@media (prefers-color-scheme: dark) {
  .accordion-button:not(.collapsed) {
    --bs-accordion-active-bg: #ffcc99; // Light orange for dark mode
    color: #000; // Ensure the text is readable
  }
  .list-group-item.active {
    --bs-list-group-active-bg: #ffcc99;
    color: #000;
}
  a {
    --bs-link-color-rgb: #000;
    --bs-link-opacity: #adb5bd;
}
}

@media (prefers-color-scheme: light) {
  .accordion-button:not(.collapsed) {
    --bs-accordion-active-bg: #fd7e14; 
    color: #fff; // Ensure the text is readable
  }
  .list-group-item.active {
  --bs-list-group-active-bg: #fd7e14;
  --bs-link-color-rgb: #fff;
  --bs-link-opacity: #adb5bd;
}
}